<!DOCTYPE html>
<html>

<body>
    <form>
        <form action="{{url_for('session')}}" method="POST">

            <label for='password' id='password' name='password'></label><br>
            <input type="text" id="password" name="password"><br>

            <label for='username' id='username' name='username'></label><br>
            <input type="text" id="username" name="username"><br>

            <label for="confirm_password">confirm password</label><br>
            <input type="text" id="confirm_password" name="confirm_password"><br>

        </form>
</body>

</html>